numpy
pandas

black
mypy
configparser
setuptools
fake_useragent
faker


aiohttp
requests

konlpy
JPype1


pymysql
boto3
motor


pydantic
pydantic-settings

bs4
selenium
selenium-stealth
undetected-chromedriver
webdriver-manager
newspaper3k
lxml[html_clean]       
